[Desktop Entry] 
Name=Rubiks Clock

Exec=/usr/bin/chromium-browser  --app='file:///home/pi/rubiks-clock/index.html#giantclock12' --start-fullscreen --disable-session-crashed-bubble

Type=application
Terminal=false

